apiVersion: v1
kind: ResourceQuota
metadata:
  name: tenant-quota
  namespace: default
spec:
  hard:
    requests.cpu: "20"
    requests.memory: 64Gi
    limits.cpu: "40"
    limits.memory: 128Gi
    requests.storage: 500Gi
